.icons-table{
    font-size: 20px;
    color: #2B2D42;
}
.icons-table:hover{
    cursor: pointer;
    color: #EF233C;
}
.icons-footer:hover{
    cursor: pointer;
    color: #EF233C;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
    transform: rotate(360deg) translateY(13px);
}