.modal-login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal_container{
    position: relative;
    width: 400px;
}

.logo-modal{
    width: 100px;
}

.modal-register{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);


    display: flex;
    align-items: center;
    flex-direction: column;
}