.card-text{
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-title{
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.card-img-top{
    min-width: 100%;
    max-width: 100%;
    height: 15rem;
    object-fit: contain;
    min-height: 200px !important;
    max-height: 200px !important;   
} 
.card-curso{
    border: 1px solid #2B2D42 !important;
    min-height: 400px !important;
    max-height: 450px !important;
}
.size-titulo{
    font-size: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {.img-card {
    width: 100%;
    height: 100%;
}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {.img-card{
    width: 100%;
    height: 100%;
}}
/* 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {.img-card{
    width: 100%;
    height: 100%;
}}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {.img-card{
    width: 100%;
    height: 100%;
}}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {.img-card{
    width: 100%;
    height: 100%;
}}